@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  font-family: Roboto;
}
.btn-tab-detail {
  margin-right: 1rem;
  color: primary;
  size: sm;
}

.detail-page-content {
  margin: 0 3rem;
}

.img-card-review {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  object-fit: cover;
}

.img-card-character {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}
