/*FOOTER*/
.footer {
  width: 100%;
  height: 400px;
  background-color: black;
  color: #ffffff;
  font-family: roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  width: 75%;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.footer-logo {
  width: 300px;
}

.footer-logo p {
  padding-top: 10px;
  font-size: 20px;
  opacity: 0.9;
}

.footer-logo img {
  width: 100%;
}

.footer-nav li {
  list-style: none;
  font-size: 20px;
  padding-top: 10px;
  opacity: 0.9;
}

.social p {
  font-size: 20px;
  font-weight: bold;
  padding: 6px;
  padding-left: 11px;
}

.social-download {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.social-download img {
  width: 50%;
}

.appStore {
  padding-top: 6px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.footer .social-media img {
  width: 70%;
  padding-left: 11px;
  border-radius: 15px;
}

.copyright {
  margin-top: 30px;
  font-size: 15px;
}

/* responsive */
/* ukuran tablet */
@media screen and (max-width: 768px) {
  .footer {
      width: 100%;
      height: 100%;
  }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
  .footer {
    width: 100%;
    height: 100%;
  }
}